# PUBLIC EXAMPLE REPO

# ---------------- file types -----------------------

# Ignore weirdo binary .frx files
*.frx

# Ignore all macro workbooks by default
*.xlsm
*.xlam

# ---------------- directories -----------------------

# Local dev scratch + refactor logs (sensitive paths)
**/ignore/
**/WhoaRefactorSummaries/

# ---------------- security -----------------------
*.env
