# ignore actual macro workbooks, 
# we only upload exported source code
*.xlsm

# ignore weirdo binary .frx files
*.frx

# ignore refactor related stuff
# paths that get logged could contain sensitive info
WhoaRefactorSummaries/